<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- Sección para las cadenas de conexión -->
	<connectionStrings>
		<add name="ConexionBiblioteca"
			 connectionString="Data Source=(local);Initial Catalog=db_biblioteca;Integrated Security=True;MultipleActiveResultSets=true"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>